extends layout

block content
  script(src='/socket.io/socket.io.js')
  link(href='/stylesheets/chat.css', rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css', type='text/css', rel='  stylesheet')
  .container
    .messaging
      .inbox_msg
        .inbox_people
          .headind_srch
            .recent_heading
              h4 Chats
          .inbox_chat
            .chat_list.active_chat
              .chat_people
                .chat_img
                  img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                .chat_ib
                  h5
                    | Sunil Rajput 
                    span.chat_date Dec 25
                  p
                    | Test, which is a new approach to have all solutions
                    | astrology under one roof.
            .chat_list
              .chat_people
                .chat_img
                  img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                .chat_ib
                  h5
                    | Sunil Rajput 
                    span.chat_date Dec 25
                  p
                    | Test, which is a new approach to have all solutions
                    | astrology under one roof.
            .chat_list
              .chat_people
                .chat_img
                  img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                .chat_ib
                  h5
                    | Sunil Rajput 
                    span.chat_date Dec 25
                  p
                    | Test, which is a new approach to have all solutions
                    | astrology under one roof.
            .chat_list
              .chat_people
                .chat_img
                  img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                .chat_ib
                  h5
                    | Sunil Rajput 
                    span.chat_date Dec 25
                  p
                    | Test, which is a new approach to have all solutions
                    | astrology under one roof.
            .chat_list
              .chat_people
                .chat_img
                  img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                .chat_ib
                  h5
                    | Sunil Rajput 
                    span.chat_date Dec 25
                  p
                    | Test, which is a new approach to have all solutions
                    | astrology under one roof.
            .chat_list
              .chat_people
                .chat_img
                  img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                .chat_ib
                  h5
                    | Sunil Rajput 
                    span.chat_date Dec 25
                  p
                    | Test, which is a new approach to have all solutions
                    | astrology under one roof.
            .chat_list
              .chat_people
                .chat_img
                  img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                .chat_ib
                  h5
                    | Sunil Rajput 
                    span.chat_date Dec 25
                  p
                    | Test, which is a new approach to have all solutions
                    | astrology under one roof.
        .mesgs
          #chatWindow.msg_history
            .incoming_msg
              .incoming_msg_img
                img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
              .received_msg
                .received_withd_msg
                  p
                    | Test which is a new approach to have all
                    | solutions
                  span.time_date  11:01 AM    |    June 9
            .outgoing_msg
              .sent_msg
                p
                  | Test which is a new approach to have all
                  | solutions
                span.time_date  11:01 AM    |    June 9
            .incoming_msg
              .incoming_msg_img
                img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
              .received_msg
                .received_withd_msg
                  p Test, which is a new approach to have
                  span.time_date  11:01 AM    |    Yesterday
            .outgoing_msg
              .sent_msg
                p Apollo University, Delhi, India Test
            .incoming_msg
              .received_msg
                .received_withd_msg
                  p
                    | We work directly with our designers and suppliers,
                    | and sell direct to you, which means quality, exclusive
                    | products, at a price anyone can afford.
                  span.time_date  11:01 AM    |    Today
          .type_msg
            .input_msg_write
              input.write_msg(type='text', placeholder='Type a message')
              button#send.msg_send_btn(type='button')
                i.fa.fa-paper-plane-o(aria-hidden='true')
    script.
      var socket = io.connect('http://localhost:3000');
      var chatId = '5d50976a26e39564e87739e9';
      var userId = '5d50976a26e39564e87739e9';
      
      $(() => {
        $('#send').click(()=>{
          /*
          sendMessage({
            text:$('#message').val()
          });
          */
        })
        //getMessages();
      })        

      function sendMessage(message){
        $.post('http://localhost:3000/chats/' + chatId + '/message', message)
      }    

      socket.on('newMessage', function(msg){
        $('#messages').append($('<li>').html(msg));
      });

      function appendNewMessage(msg){
      	$('#chatWindow').append('<div class="outgoing_msg"><div class="sent_msg"><p>' + msg + '</p></div>');
      }