extends layout

block content
  script(src='/socket.io/socket.io.js')
  .container
    br
    .jumbotron
      h1.display-4 Send Message
      br
      input#name.form-control(placeholder='Name')
      br
      textarea#message.form-control(placeholder='Your Message Here')
      br
      button#send.btn.btn-success Send
    #messages
  script.
    var socket = io.connect('http://localhost:3000');
    var chatId = '#{id}';
    $(() => {
      $('#send').click(()=>{
        sendMessage({
          text:$('#message').val()
        });
      })
      //getMessages();
    })    

    function sendMessage(message){
      $.post('http://localhost:3000/chats/' + chatId + '/message', message)
    }

    socket.on('newMessage', function(msg){
      $('#messages').append($('<li>').html(msg));
    });