extends layout

block content
  script(src='/socket.io/socket.io.js')
  link(href='/stylesheets/chat.css', rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css', type='text/css', rel='  stylesheet')
  .container
    .messaging
      .inbox_msg
        .inbox_people
          .headind_srch
            .recent_heading
              h4 Chats
          #allChats.inbox_chat
        .mesgs
          #chatWindow.msg_history
          .type_msg
            .input_msg_write
              input#textMessage.write_msg(type='text', placeholder='Type a message')
              button#send.msg_send_btn(type='button')
                i.fa.fa-paper-plane-o(aria-hidden='true')
    script.
      var origin = window.location.origin;
      var socket = io.connect(origin);
      var chatId = '#{chatId}';
      var userId = '#{userId}';
      
      $( document ).ready(function() {
        var chats = JSON.parse(unescape('#{chats}'));
        chats.forEach(function(chat){
          populateChats(chat);
        });

        var messages = JSON.parse(unescape('#{messages}'));
        messages.forEach(function(message){
          appendNewMessage(message);
        });        
      });

      function populateChats(chat){
        if(chat._id == chatId){
          $('#allChats').append('<div class="chat_list active_chat" onclick="openChat(\''+chat._id+'\')"><div class="chat_people"><div class="chat_ib"><h5>'+ chat.title +' </h5><p></p></div></div></div>');
        }else{
          $('#allChats').append('<div class="chat_list" onclick="openChat(\''+chat._id+'\')"><div class="chat_people"><div class="chat_ib"><h5>'+ chat.title +' </h5><p></p></div></div></div>');
        }
      }

      function openChat(id){
        window.location.href = origin + "/chats/chat/" + id;
      }

      $(() => {

        $('#textMessage').keypress(function (e) {
         var key = e.which;
         if(key == 13)  // the enter key code
          {
            $('#send').click();
            return false;  
          }
        });   

        $('#send').click(()=>{
          sendMessage({
            text:$('#textMessage').val()
          });
          $('#textMessage').val('');
        })
        //getMessages();
      })        

      function sendMessage(message){
        $.post(origin + '/chats/' + chatId + '/message', message)
      }    

      socket.on('newMessage', function(msg){
        appendNewMessage(msg)
      });

      function appendNewMessage(msg){
        if(msg.author != userId){
          $('#chatWindow').append('<div class="incoming_msg"><div class="received_msg"><div class="received_withd_msg"><p>' + msg.text + '</p></div></div></div>');
        }else{
          $('#chatWindow').append('<div class="outgoing_msg"><div class="sent_msg"><p>' + msg.text + '</p></div>');
        }
        $('#chatWindow').animate({
            scrollTop: $('#chatWindow').get(0).scrollHeight
        }, 0);
      }